<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [routerLink] ="['/folder/inbox']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>EDUCATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <h1>Education</h1>
    <p>SD : SD 45 </p>
    <p>SMP : Kartika Jaya</p>
    <p>SMA : Paket C</p>
    <p>S1 (sedang berkuliah) : Universitas Dian Nusantara</p>
  </div>
  <footer><b>Copyright &copy; 2021 HengkyDarmawan</b></footer>
</ion-content>
