ion-menu-button {
  color: #fff;
}
ion-title {
  color: #fff;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px rgb(175, 175, 175) solid;
}
ion-icon {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}
